html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #eaedf1;
    font-family: 'Lato', sans-serif;
}

* {
	box-sizing: border-box;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.control-elements{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.change-properties{
    display: flex;
    flex-direction: column;
}
.interactive-mode-form{
    display:flex;
    flex-direction: row;
}
.speed-slider{
    display:flex;
    flex-direction: column;
}
.truck-button{
    width:200px
}